@import '../../vars.scss';

header {
  display: flex;
  background: $brandColor;
  padding: .5em;
  justify-content: space-between;

  > * {
    padding: 0 0.5em;
  }
}

h1 {
  font-size: 1.25em;
  margin: 0;
}
