<table>
  <tr>
    <td></td><td>
      <button class="plus" (click)="mutateRows(1)">+</button>
    </td><td></td>
  </tr><tr>
    <td>
      <button class="minus" (click)="mutateCols(-1)">&ndash;</button>
    </td><td></td><td>
      <button class="plus" (click)="mutateCols(1)">+</button>
    </td>
  </tr><tr>
    <td></td><td>
     <button class="minus" (click)="mutateRows(-1)">&ndash;</button>
    </td><td></td>
  </tr>
</table>

