@import '../../vars.scss';
$brandBoxShadow: 1px 1px 0 0 $brandText;

table {
  position: absolute;
  right: 1em;
  td {
    padding: 0;
  }
}

button {
  background: #aaaa;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  text-shadow: 1.5px 1.5px $brandText;
  box-shadow: inset $brandBoxShadow, $brandBoxShadow;
  height: 1.4em;
  width: 1.4em;
  margin: 0;
  padding: 0;
  transform: scale(1.167);
  &:active,
  &:hover {
    background: darken($brandColor, 25%);
  }
}

button.plus {
  line-height: 1px;
  vertical-align: text-top;
}

button.minus {
  line-height: 0;
  vertical-align: text-top;
}
