<section>
  <app-header
    [title]="title"
    [fieldCount]="m*n"
    [openCount]="openCount"
  ></app-header>

  <main>

    <app-field-control [m]="m" [n]="n"
      (horizontal)="mutateHorizontal($event)"
      (vertical)="mutateVertical($event)"
    ></app-field-control>

    <table>
      <tr class="row" *ngFor="let y of n|times">
        <td class="col"
          *ngFor="let x of m|times"
          style="width: {{100/m}}%"
        >
          <app-field [x]="x" [y]="y" [m]="m"
            (onClick)="updateCount()"
          ></app-field>
        </td>
      </tr>
    </table>

  </main>
</section>
