@import '../vars.scss';

section {
  background: $brandGrey;
  color: $brandText;
  height: 100vh;
}

main {
  padding: 2em 6em 2em 2em;
  position: relative;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  td {
    border: 1px dotted currentColor;
    text-align: center;
  }
}
/* $maxLiquid */
@media (min-width: $maxLiquidWidth) {
  main {
    padding: 2em 6em;
  }
}