@import 'vars.scss';

html {
  font: 16px/1.333 sans-serif;
  background: repeating-linear-gradient(45deg,
    white, white 20px, $brandColor 20px, $brandColor 24px
  );
}

body {
  max-width: $maxLiquidWidth;
  margin: 0 auto;
}

app-root {
  background: #ddd;
  color: #246;
}